.galleryImage {
    display: block;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;

    
}

.thumbBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #5c6297;
    padding: 10px;
}

.galleryThumb:hover .thumbBlock {
    border-color: #8791e0;
    
}

.textPhoto {
    color: #212127;
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .04em;
   
}

.position {
    display: flex;
    align-items: center;
    gap: 4px;
}